<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <p>Are you sure you want to Logout?</p>
    <form action="/logout" method="GET">
        <button type="submit">Yes, log me out</button>
    </form>
</body>
</html>